beautifulsoup4
boto3
faiss-cpu
fastapi
gunicorn
ipywidgets
langchain
langchain-core
langchain-ollama
langchain-openai
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
lxml
nbformat
ollama
openai
passlib[argon2]
playwright
plotly
psycopg2-binary
pypdf
python-dotenv
python-jose[cryptography] 
python-multipart
scikit-learn
sqlalchemy 
uvicorn