beautifulsoup4
boto3
fastapi
gunicorn
ipywidgets
langchain
langchain-core
langchain-ollama
langchain-openai
langchain-community
langchain-chroma
langchain-huggingface
langgraph
langgraph-checkpoint-sqlite
lxml
ollama
openai
passlib[argon2]
playwright
psycopg2-binary
pypdf
python-dotenv
python-jose[cryptography] 
python-multipart
sqlalchemy 
uvicorn